html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.main-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
  background: #dedede;
}

header{
  min-width: 200px;
  padding: 20px;
}

main {
  min-width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #ededed;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 30px 30px;
  max-width: 100%;
  margin: 0 auto;
}

.filtration-form{
  display: flex;
  justify-content: center;
}

.article-preview {
  display: flex;
  width: 900px;
  height: 150px;
  margin-bottom: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 33px 3px rgba(0,0,0,0.1);
}

.article-preview-link {
  color: #171717;
}

.article-preview-link:hover {
  text-decoration: none;
  color: #131766
}

.article-preview__image {
  width: 30%;
  overflow: hidden;
}

.article-preview__image img {
  width: 100%;
  height: 100%;
}

.article-preview__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-left: 50px;
}

.article-preview__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.page-title {
  margin-bottom: 20px;
}

.article-preview__date {
  font-size: 15px;
  color: #667;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100px;
  min-height: 100vh;
  background-color: #070824;
  padding: 10px;
  padding-top: 0px;
}

.header__navigation {
  position: sticky;
  top: 0;
  min-width: 100%;
}

.logo-image {
  max-width: 125px;
}

.header__logo {
  display: flex;
  min-width: 100%;
  text-align: center;
  min-height: 70px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header__menu-items {
  max-width: 75%;
  margin: 0 auto;
}

.header__menu-items-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header__menu-item {
  font-size: 18px;
  margin-bottom: 4px;
}

.header__menu-item-link {
  color: #ededed;
}

.header__menu-item-link:hover {
  text-decoration: none;
  color: #FBD406;
}

.article-container {
  max-width: 100%;
  display: flex;
  padding-left: 30px;
}

.article-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.article-content h1 {
  width: 100%;
}

.article-content img {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.article-content h2, h3, h4, h5, h6 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.article-content p, ul, li {
  width: 100%;
  font-size: 20px;
}



.side-bar {
  min-width: 25%;
  display: flex;
  flex-direction: column;
}

.last-articles-previews {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.last-article-preview-date{
  color: #636363;
  font-weight: bold;
}

.article-preview-container {
  margin-right: 50px;
}

.article-preview-minimized-link:hover {
  color: #131766;
}

.article-preview-minimized {
  width: 100%;
  margin-bottom: 10px;
  color: #212121;
}

.previews-container {
  max-width: 100%;
  display: flex;
  padding-left: 30px;
}

.pagination a{
  color: #070824;
}



.article-description {
  display: flex;
  width: 100%;
  font-size: 20px;
  margin-top: 5px;
}

.article-description__author {
  color: #d9b704;
  margin-right: 15px;
}

.article-source h4 {
  font-size: 20px;
}

.article-source a {
  color: #d9b704;
}

.article-source a:hover {
  color: #070824;
  text-decoration: none;
}

.article-image-preview {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 400px;
  height: 300px;
}

.article-image-preview-minimized {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 310px;
  height: 260px;
}

.article-image-preview__image {
  display: block;
  width: 100%;
  height: 100%;
  
}

.article-image-preview__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  padding-left: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
}

.article-image-preview__title {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.article-image-preview__date {
  margin: 0;
}

.main-page-container {
  display: flex;
  flex-direction: column;
}

.main-page-container h1 {
  margin-top: -20px;
  margin-bottom: 20px;
}

.recent-news-container {
  display: flex;
  flex-direction: column;
}

.recent-news-container_main-article {
  width: 100%;
  display: flex;
  background-color: #fefefe;
  margin-bottom: 20px;
}


.recent-news-container__main-article-image {
  width: 50%;
  overflow: hidden;
}

.recent-news-container__main-article-image img {
  width: 100%;
  height: 100%;
}

.recent-news-container__main-article-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  justify-content: center;
  align-items: center;
}

.link {
  color: #070824;
}

.link:hover {
  color: #d9b704;
  text-decoration: none;
}

.white-link {
  color: #fefefe;
}

.white-link:hover {
  color: #d9b704;
  text-decoration: none;
}



.main-article-info__row {

}
.main-article-info__title {
  text-align: center;
  margin-bottom: 10px;
}


.main-article-info__date {
  font-size: 25px;
  margin-right: 10px;
}

.main-article-info__theme {
  font-size: 25px;
  color: #d9b704;
}

.recent-news-container__row {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px 0px;
}

.last-news-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.last-news-container h2 {
  margin-bottom: 20px;
  width: 100%;
}

.article-preview-maximized {
  min-width: 1300px;
  height: 210px;
}

.topic-label {
  font-size: 20px;
  background-color: #242c65;;
  color: #e8e8e8;
  padding: 5px;
  margin-left: 10px;
  font-weight: bold;
  border-radius: 10%;
}