﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Hosting.Internal

@{
    var contentRootPath = Environment.CurrentDirectory;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - News Aggregator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/scroll-button.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>body { font-family: 'Nunito', sans-serif; }</style>
</head>
<body>

<div class="main-container">
    <header id="header" class="header">
        <nav class="header__navigation">
            <a class="header__logo" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo-image" src="\images\logo.svg" alt="Logo">

            </a>
            <div class="header__menu-items">
                <ul class="header__menu-items-list">
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="ukraine">Україна</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="politics">Політика</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="war">Війна</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="economy">Економіка</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="bank">Банки</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="world">Світ</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="technology">Технології</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="science">Наука</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-item-link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="software">Програмне забезпечення</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        <div class="content-container">
            @RenderBody()
        </div>
    </main>
    <div id="progress">
        <span id="progress-value">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </span>
    </div>
</div>

<footer class="border-top footer text-muted">
</footer>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>