﻿@using NewsAggregator.BLL.DTOs
@model NewsAggregator.BLL.DTOs.ArticleDto
@{
    var lastArticlePreviews = (List<ArticlePreviewDto>)ViewBag.LastArticlePreview;
}
<div class="article-container">
    <div class="article-content">
        <h1>@Model.Title</h1>
        <div class="article-description">
            @if (Model.Author != string.Empty && Model.Author != null)
            {
                <div class="article-description__author">
                    @Model.Author
                </div>
            }
            <div class="article-description__date">
                @Model.Date.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
            </div>
        </div>
        @Html.Raw(Model.HtmlBody)

        <div class="article-source">
            <hr>
            <h4>
                Новина була взята з
                <a href="@Model.SourceUrl">@Model.SourceUrl</a>
            </h4>
        </div>
    </div>
    <div class="side-bar">
        <div class="last-articles-previews">
            <h3>
                Останні новини
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </h3>

            @foreach (var articlePreview in lastArticlePreviews)
            {
                <a class="article-preview-minimized-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@articlePreview.Topic.Name.ToLower()" asp-route-publicArticleId="@articlePreview.PublicArticleId">

                    <div class="article-preview-minimized">
                        <span class="last-article-preview-date">
                            @articlePreview.Date.ToString("HH:mm")
                        </span>
                        @articlePreview.Title

                    </div>
                </a>
            }
        </div>
    </div>

</div>