@using NewsAggregator.Filters
@using NewsAggregator.BLL.DTOs
@model List<NewsAggregator.BLL.DTOs.ArticlePreviewDto>
@{
    ViewData["Title"] = "Home Page";
    var articlePreviews = Model;
    var currentPage = ViewBag.PageNumber;
    var totalPages = ViewBag.PageCount;
    var pageLimit = 10;
    var startPage = currentPage - pageLimit / 2;
    var endPage = currentPage + pageLimit / 2;
    var topic = (TopicDto)ViewBag.Topic;
    var lastArticlePreviews = (List<ArticlePreviewDto>)ViewBag.LastArticlePreviews;
    if (startPage < 1)
    {
        endPage += 1 - startPage;
        startPage = 1;
    }

    if (endPage > totalPages)
    {
        startPage -= endPage - totalPages;
        endPage = totalPages;
    }

    if (startPage < 1)
    {
        startPage = 1;
    }

    if (endPage > totalPages)
    {
        endPage = totalPages;
    }
}
<div class="previews-container">
    <div class="article-preview-container">
        <div class="page-title">
            <h1>Новини за темою @topic.LocalizedName</h1>
        </div>
        @foreach (var articlePreview in articlePreviews)
        {
            <a class="article-preview-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@articlePreview.Topic.Name.ToLower()" asp-route-publicArticleId="@articlePreview.PublicArticleId">
                <div class="article-preview">
                    <div class="article-preview__image">
                        <img src="@articlePreview.ImageUrl" alt="Article Image">
                    </div>
                    <div class="article-preview__content">
                        <h2 class="article-preview__title">@articlePreview.Title</h2>
                        <p class="article-preview__date">@articlePreview.Date.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</p>
                    </div>
                </div>
            </a>
        }
    </div>
        <div class="side-bar">
            <div class="last-articles-previews">
                <h3>
                    Останні новини
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </h3>

                @foreach (var articlePreview in lastArticlePreviews)
                {
                    <a class="article-preview-minimized-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@articlePreview.Topic.Name.ToLower()" asp-route-publicArticleId="@articlePreview.PublicArticleId">

                        <div class="article-preview-minimized">
                            <span class="last-article-preview-date">
                                @articlePreview.Date.ToString("HH:mm")
                            </span>
                            @articlePreview.Title

                        </div>
                    </a>
                }
            </div>
        </div>
    
</div>

@if (totalPages > 1)
{
    <div class="filtration-form">
        <nav class="pagination-nav">
            <ul class="test pagination">
                <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("ArticlePreviews", new PaginationFilter() { PageNumber = currentPage - 1 })">Попередня</a>
                </li>

                @if (startPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("ArticlePreviews", new PaginationFilter() { PageNumber = 1 })">1</a>
                    </li>

                    @if (startPage > 2)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }
                }

                @for (int i = startPage; i <= endPage; i++)
                {
                    <li class="page-item @(currentPage == i ? "active" : "")">
                        <a style=".active {background: red}" class="page-link" href="@Url.Action("ArticlePreviews", new PaginationFilter() { PageNumber = i })">@i</a>
                    </li>
                }

                @if (endPage < totalPages)
                {
                    @if (endPage < totalPages - 1)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }

                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("ArticlePreviews", new PaginationFilter() { PageNumber = totalPages }))">@totalPages</a>
                    </li>
                }

                <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("ArticlePreviews", new PaginationFilter() { PageNumber = currentPage + 1 })">Наступна</a>
                </li>
            </ul>
        </nav>
    </div>
}