﻿@using NewsAggregator.DAL.Entities
@using NewsAggregator.BLL.DTOs
@{
    ViewData["Title"] = "Home Page";

    var lastArticlePreviews = (List<ArticlePreviewDto>)ViewBag.LastArticlePreviews;

    var ukraineArticlePreviews = (List<ArticlePreviewDto>)ViewBag.UkraineArticlePreviews;

    var warArticlePreviews = (List<ArticlePreviewDto>)ViewBag.WarArticlePreviews;

    var technologyArticlePreviews = (List<ArticlePreviewDto>)ViewBag.TechnologyArticlePreviews;

}

<div class="main-page-container">
    <h1>НОВИНИ СТАНОМ НА @DateTime.Now.ToLocalTime().ToString("dd.MM")</h1>
    <div class="recent-news-container">
        <a class="link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@lastArticlePreviews[0].Topic.Name.ToLower()" asp-route-publicArticleId="@lastArticlePreviews[0].PublicArticleId">
            <div class="recent-news-container_main-article">
                <div class="recent-news-container__main-article-image">
                    <img src="@lastArticlePreviews[0].ImageUrl" alt="Остання новина">
                </div>
                <div class="recent-news-container__main-article-info">
                    <div class="main-article-info__title">
                        <h2>@lastArticlePreviews[0].Title</h2>
                    </div>
                    <div class="main-article-info__row">
                        <span class="main-article-info__date">@lastArticlePreviews[0].Date.ToLocalTime().ToString("HH:mm")</span>
                        <span class="main-article-info__theme">@lastArticlePreviews[0].Topic.LocalizedName</span>
                    </div>
                </div>
            </div>
        </a>
        <div class="recent-news-container__row">
            @for (var i = 1; i < 4; i++)
            {
                <a class="white-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@lastArticlePreviews[i].Topic.Name.ToLower()" asp-route-publicArticleId="@lastArticlePreviews[i].PublicArticleId">
                    <div class="article-image-preview">
                        <img class="article-image-preview__image" src="@lastArticlePreviews[i].ImageUrl" alt="Image">
                        <div class="article-image-preview__content">
                            <h2 class="article-image-preview__title">@lastArticlePreviews[i].Title</h2>
                            <p class="article-image-preview__date">@lastArticlePreviews[i].Date.ToLocalTime().ToString("HH:mm")</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <a class="link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="ukraine">
            <h2>Новини України</h2>
        </a>
        <div class="recent-news-container__row">
            @for (var i = 0; i < 4; i++)
            {
                <a class="white-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@ukraineArticlePreviews[i].Topic.Name.ToLower()" asp-route-publicArticleId="@ukraineArticlePreviews[i].PublicArticleId">
                    <div class="article-image-preview-minimized">
                        <img class="article-image-preview__image" src="@ukraineArticlePreviews[i].ImageUrl" alt="Image">
                        <div class="article-image-preview__content">
                            <h2 class="article-image-preview__title">@ukraineArticlePreviews[i].Title</h2>
                            <p class="article-image-preview__date">@ukraineArticlePreviews[i].Date.ToLocalTime().ToString("HH:mm")</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <a class="link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="war">
            <h2>Війна</h2>
        </a>
        <div class="recent-news-container__row">

            @for (var i = 0; i < 4; i++)
            {
                <a class="white-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@warArticlePreviews[i].Topic.Name.ToLower()" asp-route-publicArticleId="@warArticlePreviews[i].PublicArticleId">
                    <div class="article-image-preview-minimized">
                        <img class="article-image-preview__image" src="@warArticlePreviews[i].ImageUrl" alt="Image">
                        <div class="article-image-preview__content">
                            <h2 class="article-image-preview__title">@warArticlePreviews[i].Title</h2>
                            <p class="article-image-preview__date">@warArticlePreviews[i].Date.ToLocalTime().ToString("HH:mm")</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <a class="link" asp-area="" asp-controller="Home" asp-action="ArticlePreviews" asp-route-topic="technology">
            <h2>Технології</h2>
        </a>
        <div class="recent-news-container__row">
            @for (var i = 0; i < 4; i++)
            {
                <a class="white-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@technologyArticlePreviews[i].Topic.Name.ToLower()" asp-route-publicArticleId="@technologyArticlePreviews[i].PublicArticleId">
                    <div class="article-image-preview-minimized">
                        <img class="article-image-preview__image" src="@technologyArticlePreviews[i].ImageUrl" alt="Image">
                        <div class="article-image-preview__content">
                            <h2 class="article-image-preview__title">@technologyArticlePreviews[i].Title</h2>
                            <p class="article-image-preview__date">@technologyArticlePreviews[i].Date.ToLocalTime().ToString("HH:mm")</p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="last-news-container">
            <h2>Останні новини</h2>
            @for (var i = 0; i < lastArticlePreviews.Count; i++)
            {
                <a class="article-preview-link" asp-controller="Home" asp-action="GetArticle" asp-route-topic="@lastArticlePreviews[i].Topic.Name.ToLower()" asp-route-publicArticleId="@lastArticlePreviews[i].PublicArticleId">
                    <div class="article-preview article-preview-maximized">
                        <div class="article-preview__image">
                            <img src="@lastArticlePreviews[i].ImageUrl" alt="Article Image">
                        </div>
                        <div class="article-preview__content">
                            <h2 class="article-preview__title">@lastArticlePreviews[i].Title</h2>
                            <p class="article-preview__date">
                                @lastArticlePreviews[i].Date.ToLocalTime().ToString("dd.MM.yyyy HH:mm")

                                <span class="topic-label">@lastArticlePreviews[i].Topic.LocalizedName</span>
                            </p>

                        </div>
                    </div>
                </a>
            }
        </div>

    </div>
</div>